<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" href="/css/fontawesome-free-5.7.2.all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap4-1.10.19.min.css">
    <link rel="stylesheet" href="/css/select2-4.0.6.min.css">
    <link rel="stylesheet" href="/css/filepond-4.2.0.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>{% block title %}{% endblock %}</title>

    <script src="/js/fontawesome-free-5.7.2.all.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper-1.14.7.min.js"></script>
    <script src="/js/bootstrap-4.3.1.min.js"></script>
    <script src="/js/jquery.dataTables-1.10.19.min.js"></script>
    <script src="/js/dataTables.bootstrap4-1.10.19.min.js"></script>
    <script src="/js/bootbox-4.4.0.min.js"></script>
    <script src="/js/select2-4.0.6.min.js"></script>
    <script src="/js/filepond-4.2.0.min.js"></script>
    <script src="/js/code.js"></script>
</head>

<body>
<noscript>You need to enable JavaScript to run this app.</noscript>

{% include 'base/alerts.html' with context %}
<div class="content">
    {% include 'base/navbar.html' with context %}
    <div class="container-fluid">{% block content %}{% endblock %}</div>
</div>
{% include 'base/footer.html' %}
</body>
</html>