<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" href="/vendors/css/fontawesome-free.all.min.css">
    <link rel="stylesheet" href="/vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/vendors/css/select2.css">
    <link rel="stylesheet" href="/vendors/css/filepond.min.css">
    <link rel="stylesheet" href="/vendors/css/jsoneditor.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <title>{% block title %}{% endblock %}</title>

    <script src="/vendors/js/fontawesome-free.all.min.js"></script>
    <script src="/vendors/js/jquery.min.js"></script>
    <script src="/vendors/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/js/dataTables.bootstrap4.min.js"></script>
    <script src="/vendors/js/bootbox.min.js"></script>
    <script src="/vendors/js/select2.js"></script>
    <script src="/vendors/js/filepond.min.js"></script>
    <script src="/vendors/js/jsoneditor.min.js"></script>
    <script src="/vendors/js/underscore.min.js"></script>
    <script src="/vendors/js/jsonform.js"></script>

    <script src="/js/ui-actions.js"></script>
</head>

<body>
<noscript>You need to enable JavaScript to run this app.</noscript>

{% include 'base/alerts.html' with context %}
<div class="content">
    {% include 'base/navbar.html' with context %}
    <div class="container-fluid">{% block content %}{% endblock %}</div>
</div>
{% include 'base/footer.html' %}
</body>
</html>