<footer class="footer-color footer-size footer py-2 mt-2">
    <div class="container-fluid">
            <span class="text-muted">&copy;
                <a href="https://github.com/orgs/ove/teams/ove/members" target="_blank">OVE Team</a>.
                Made with <span style="color: red">&hearts;</span> by the
                <a href="https://www.imperial.ac.uk/data-science/" target="_blank">Data Science Institute</a>
                @ <a href="http://www.imperial.ac.uk/" target="_blank">Imperial College London</a>.
                <a href="https://github.com/ove/ove-asset-manager" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
            </span>
    </div>
</footer>