{% set active_page = active_page|default('index') -%}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <a class="navbar-brand" href="/"><i class="fas fa-project-diagram"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="navbar-nav">
                <a class="nav-link {{ "active" if active_page == "workers" }}" href="/view/workers"><i class="fas fa-toolbox"></i>&nbsp;&nbsp;Workers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ "active" if not store_name and active_page not in ["workers", "docs"] }}" href="/"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
            </li>

            {% if store_name %}
                <li class="nav-item">
                    <span class="nav-link {{ "active" if not project_name else "disabled" }}"><i class="fas fa-angle-double-right"></i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ "active" if not project_name }}" href="/view/store/{{ store_name }}/">
                        <i class="fas fa-hdd"></i>&nbsp;&nbsp;Store
                        <span class="badge {{ "badge-primary" if not project_name else "badge-secondary" }}">{{ store_name }}</span>
                    </a>
                </li>
            {% endif %}

            {% if project_name %}
                <li class="nav-item">
                    <span class="nav-link {{ "active" if not asset_name else "disabled" }}"><i class="fas fa-angle-double-right"></i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ "active" if not asset_name }}" href="/view/store/{{ store_name }}/project/{{ project_name }}/">
                        <i class="fas fa-list"></i>&nbsp;&nbsp;Project
                        <span class="badge {{ "badge-primary" if not project_name else "badge-secondary" }}">{{ project_name }}</span>
                    </a>
                </li>
            {% endif %}

            {% if asset_name %}
                <li class="nav-item">
                    <span class="nav-link active"><i class="fas fa-angle-double-right"></i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/view/store/{{ store_name }}/project/{{ project_name }}/asset/{{ asset_name }}">
                        <i class="fas fa-file-alt"></i>&nbsp;&nbsp;Asset
                        <span class="badge badge-primary">{{ asset_name }}</span>
                    </a>
                </li>
            {% endif %}

            {% if object_name %}
                <li class="nav-item">
                    <span class="nav-link active"><i class="fas fa-angle-double-right"></i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/view/store/{{ store_name }}/project/{{ project_name }}/object/{{ object_name }}">
                        <i class="fas fa-file-powerpoint"></i>&nbsp;&nbsp;Object
                        <span class="badge badge-primary">{{ object_name }}.json</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>