sudo: false
language: bash

cache:
  npm: true
  pip: true
  directories:
    - $HOME/.m2

services:
  - docker

stages:
  - build
  - name: deploy
    if: branch = master AND type != pull_request

jobs:
  include:
    - stage: build
      script: ./build.sh
    - stage: deploy
      script:
        - echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
        - ./build.sh --push