{% extends "base/base.html" %}
{% block title %}Page not found{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">¯\_(ツ)_/¯</h1>
            <p class="lead mt-5">
                Someone must have disconnected a cable somewhere in the building because I don't seem to find the thing your are looking for.
            </p>
            <hr class="my-4">
            <p class="lead">
                You can go back to the <a href="/">Home</a> page if that's something you want to do.
            </p>
        </div>
    </div>
{% endblock %}
