{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Edit Asset{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#tags').select2({
                tags: true,
                createTag: function (params) {
                    return params.term.match(/^[a-z0-9-_]+$/) ? {id: params.term, text: params.term, newTag: true} : null;
                }
            });
        });
    </script>

    {% include 'dialogs/upload-asset-dialog.html' with context %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <form id="asset-edit" method="post"
                      action="/view/store/{{ store_id }}/project/{{ project_id }}/asset/{{ "new" if create else asset.name }}">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">Name</label>
                        <div class="col-9">
                            <input name="name" id="name" value="{{ asset.name }}"
                                   type="text" {{ "readonly" if not create }} class="form-control" required>
                            <div class="invalid-feedback">Please provide a valid name.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="project" class="col-3 col-form-label">Project</label>
                        <div class="col-9">
                            <input name="project" id="project" value="{{ asset.project }}" type="text" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">Description</label>
                        <div class="col-9">
                            <textarea name="description" id="description" class="form-control" rows="5">{{ asset.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tags" class="col-3 col-form-label">Tags</label>
                        <div class="col-9">
                            <select name="tags[]" id="tags" multiple="multiple" class="form-control">
                                {% if asset.tags %}
                                    {% for tag in asset.tags %}
                                        <option value="{{ tag }}" selected="selected">{{ tag }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="version" class="col-3 col-form-label">Version</label>
                        <div class="col-9">
                            <input name="version" id="version" value="{{ asset.version }}" type="text" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">
                        <div class="mr-3">
                            <button type="button" class="btn btn-outline-primary mr-1 {{ "invisible" if create else "visible" }}"
                                    data-toggle="tooltip" data-placement="top" title="Upload into asset"
                                    onclick="showUploadModal('/api/store/{{ store_id }}/project/{{ project_id }}/asset/{{ asset.name }}/upload', false)">
                                Upload
                            </button>
                            <a href="/view/store/{{ store_id }}/project/{{ project_id }}" class="btn btn-outline-danger mr-1">Close</a>
                            <button type="button" class="btn btn-outline-success"
                                    onclick="confirmSubmission('asset-edit', 'Are you sure you want to save the changes?')">
                                {{ "Create" if create else "Save" }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
