{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Asset list{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                autoWidth: false,
                pageLength: 25,
                order: [1, 'asc'],
                columns: [
                    {width: "10%"}, {width: "40%"}, {width: "15%"}, {width: "7%"}, {width: "15%"},
                    {width: "5%"}, {width: "8%", orderable: false}
                ],
                columnDefs: [{targets: 3, className: "align-text-right"}]
            });
        });
    </script>

    {% include 'dialogs/worker-schedule-dialog.html' with context %}
    {% include 'dialogs/asset-files-dialog.html' with context %}
    {% include 'dialogs/upload-asset-dialog.html' with context %}
    {% include 'dialogs/tag-version-dialog.html' with context %}

    <div class="btn-group mt-2 mb-4" role="group" aria-label="Toolbar">
        <a href="/view/store/{{ store_id }}/project/{{ project_id }}/asset/new" class="btn btn-outline-primary"
           data-toggle="tooltip" data-placement="top" title="Create new asset">
            <i class="fas fa-plus-square"></i>&nbsp;&nbsp;New asset
        </a>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Upload & create asset"
                onclick="showUploadModal('/api/store/{{ store_id }}/project/{{ project_id }}/upload', true)">
            <i class="fas fa-upload"></i>&nbsp;&nbsp;Upload
        </button>

        <a href="/view/store/{{ store_id }}/project/{{ project_id }}/object/project" class="btn btn-outline-primary"
           data-toggle="tooltip" data-placement="top" title="Create new project file, if it does not exist" style="margin-left: 5px;">
            <i class="fas fa-file-powerpoint"></i>&nbsp;&nbsp;Edit project file
        </a>

        <a href="/view/store/{{ store_id }}/project/{{ project_id }}/edit" class="btn btn-outline-primary"
           data-toggle="tooltip" data-placement="top" title="Edit project">
            <i class="far fa-edit"></i> Edit project
        </a>

        <button type="button" onclick="tagVersionModal('/api/store/{{ store_id }}/project/{{ project_id }}/version', true)" class="btn btn-outline-primary"
           data-toggle="tooltip" data-placement="top" title="Tag the current version of each asset" style="margin-left: 5px;">
            <i class="fas fa-tag"></i> Tag a version
        </button>

    </div>

    <table id="table" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Asset Name</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">Ver.</th>
            <th scope="col">Index File</th>
            <th scope="col">Worker</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects -%}
            <tr>
                <td><a href="/view/store/{{ store_id }}/project/{{ project_id }}/object/{{ object.name }}">{{ object.name }}.json</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="{{ object.index_file }}" target="_blank">.../{{ object.name }}.json</a></td>
                <td></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Toolbox">
                        <a href="/view/store/{{ store_id }}/project/{{ project_id }}/object/{{ object.name }}" class="btn btn-outline-primary"
                           data-toggle="tooltip" data-placement="top" title="Edit project.json file">
                            <i class="fas fa-file-powerpoint"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}

        {% for asset in assets -%}
            <tr>
                <td><a href="/view/store/{{ store_id }}/project/{{ project_id }}/asset/{{ asset.id }}">{{ asset.name }}</a></td>
                <td>{{ asset.description }}</td>
                <td>
                    {% if asset.tags %}
                        {% for tag in asset.tags %}
                            <span class="badge badge-info">{{ tag }}</span>&nbsp;&nbsp;
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ asset.version }}</td>
                <td>
                    {% if asset.index_file %}
                        <a href="{{ asset.index_file }}" target="_blank">.../{{ asset.short_index }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if asset.processing_status == "done" %}
                        <span data-toggle="tooltip" data-placement="top" title="Done">
                            <i class="fas fa-check-circle icon-success"></i>
                        </span>
                    {% elif asset.processing_status == "processing" %}
                        <span data-toggle="tooltip" data-placement="top" title="Processing">
                            <i class="fas fa-hourglass-start icon-ok"></i>
                        </span>
                    {% elif asset.processing_status == "error" %}
                        <span data-toggle="tooltip" data-placement="top" title="Error: {{ asset.processing_error }}">
                            <i class="fas fa-exclamation-circle icon-error"></i>
                        </span>
                    {% else %}
                        <span data-toggle="tooltip" data-placement="top" title="{{ asset.processing_error }}">{{ asset.processing_status }}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Toolbox">
                        <a href="/view/store/{{ store_id }}/project/{{ project_id }}/asset/{{ asset.id }}" class="btn btn-outline-primary"
                           data-toggle="tooltip" data-placement="top" title="Edit asset">
                            <i class="far fa-edit"></i>
                        </a>
                        <button class="btn btn-outline-primary" type="button" data-toggle="tooltip" data-placement="top" title="File list"
                                onclick="showAssetFilesModal('{{ asset.id }}')">
                            <i class="far fa-list-alt"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Upload into asset"
                                onclick="showUploadModal('/api/store/{{ store_id }}/project/{{ project_id }}/asset/{{ asset.id }}/upload', false, '{{ asset.id }}')">
                            <i class="fas fa-upload"></i>
                        </button>
                        <button class="btn btn-outline-primary" type="button" data-toggle="tooltip" data-placement="top" title="Process asset"
                                onclick="showProcessModal('{{ asset.id }}')">
                            <i class="fas fa-paint-roller"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
    <br/>
    <p><span class="badge badge-info">Note</span> The worker status column does not auto-update: to check whether an asset has finished processing, refresh this page.</p>
{% endblock %}
