{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Store list{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $("#store-name").select2({
                placeholder: "Select a store",
                allowClear: true
            });
        });
    </script>

    <div class="jumbotron">
        <h1 class="display-4">Asset Manager</h1>
        <p class="lead">
            This platform is used to store project data for the <a href="https://www.imperial.ac.uk/data-science/data-observatory/" target="_blank">
            Data Observatory</a>.
        </p>
        <p class="lead">
            The Asset Manager is a generic data storage solution, but the design has been made to match the <a href="https://github.com/ove" target="_blank">
            Open Visualisation Environment (OVE)</a> requirements.
        </p>
        <hr class="my-4">

        <form class="form-inline" method="GET" action="">
            <div class="form-group form-control-lg mb-2">
                <label for="store-name" class="mr-2">Please select a store </label>
                <select id="store-name" name="store-name" class="form-control" style="min-width: 300px">
                    {% for store in stores %}
                        <option value="{{ store }}">{{ store }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2" style="margin-top: 10px">List projects in store</button>
        </form>
    </div>
{% endblock %}
