{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Store list{% endblock %}

{% block content %}
    <script>
        function guestLogin() {
            $("#user").val("guest");
            $("#password").val("guest");
            $("#login-form").submit();
        }
    </script>

    <div class="jumbotron">
        <h1 class="display-4">Asset Manager</h1>
        <p class="lead">
            This platform is designed to store project data for an <a href="https://ove.readthedocs.io/en/stable/" target="_blank">
            Open Visualisation Environment (OVE)</a> installation.
        </p>

        <hr class="my-4">

        <form id="login-form" class="form" method="POST" action="/login">
            <div class="form-group row justify-content-md-center">
                <label for="user" class="col-sm-1 col-form-label">Username</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="user" name="user" placeholder="Username">
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <label for="password" class="col-sm-1 col-form-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <button type="submit" class="btn btn-secondary"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</button>
            </div>
        </form>

        <hr class="my-4">

        <form id="login-form" class="form" method="POST" action="/login">
            <div class="form-group row justify-content-md-center">

                <button id="guest-button" type="button" class="btn btn-primary ml-3" onclick="guestLogin()"><i class="fas fa-user"></i>&nbsp;&nbsp;Login as guest</button>
            </div>
        </form>

    </div>
{% endblock %}
