{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Edit Project file{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            let editor = new JSONEditor(document.getElementById("code-editor"), {mode: "code"});
            editor.set({{ object|tojson }});
            window.codeEditor = editor;
        });

        $(window).on("beforeunload", function () {
            window.codeEditor = null;
        });

        function saveCode() {
            try {
                document.getElementById("code-field").value = JSON.stringify(window.codeEditor.get());
                confirmSubmission('object-edit', 'Are you sure you want to save the changes?')
            } catch (e) {
                reportError("Invalid JSON error", e.toString());
            }
        }
    </script>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <form id="object-edit" method="post"
                      action="/view/store/{{ store_id }}/project/{{ project_id }}/object/{{ object_id }}">
                    <div class="form-group row">
                        <div id="code-editor" style="height: 600px; width: 100%"></div>
                        <input id="code-field" name="object" type="hidden">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-1">
                            <a href="/view/store/{{ store_id }}/project/{{ project_id }}" class="btn btn-outline-danger">Close</a>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-outline-success"
                                    onclick="saveCode()">
                                {{ "Create" if create else "Save" }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
