{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Edit Project{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#tags').select2({
                tags: true,
                createTag: function (params) {
                    return params.term.match(/^[a-z0-9-_]+$/) ? {id: params.term, text: params.term} : null;
                }
            });
        });
    </script>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <form id="project-edit" method="post"
                      action="/view/store/{{ store_id }}/project/{{ project_id }}/edit">
                    <div class="form-group row">
                        <label for="id" class="col-3 col-form-label">Project ID</label>
                        <div class="col-9">
                            <input name="id" id="id" value="{{ project.id }}" type="text" readonly class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">Project name</label>
                        <div class="col-9">
                            <input name="name" id="name" value="{{ project.name }}" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">Description</label>
                        <div class="col-9">
                            <textarea name="description" id="description" class="form-control" rows="5">{{ project.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="authors" class="col-3 col-form-label">Authors</label>
                        <div class="col-9">
                            <textarea name="authors" id="authors" class="form-control" rows="2">{{ project.authors }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publications" class="col-3 col-form-label">Publications</label>
                        <div class="col-9">
                            <textarea name="publications" id="publications" class="form-control" rows="2">{{ project.publications }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="thumbnail" class="col-3 col-form-label">Thumbnail</label>
                        <div class="col-9">
                            <input name="thumbnail" id="thumbnail" value="{{ project.thumbnail }}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="controller" class="col-3 col-form-label">Control Page</label>
                        <div class="col-9">
                            <input name="controller" id="controller" value="{{ project.controller }}" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="video_controller" class="col-3 col-form-label">Video Controller?</label>
                        <div class="col-9">
                            <input name="video_controller" id="video_controller" {% if project.video_controller %} checked="checked" {% endif %}
                                   value="true" type="checkbox" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="html_controller" class="col-3 col-form-label">HTML Controller?</label>
                        <div class="col-9">
                            <input name="html_controller" id="html_controller" {% if project.html_controller %} checked="checked" {% endif %}
                                   value="true" type="checkbox" class="form-control">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="tags" class="col-3 col-form-label">Tags</label>
                        <div class="col-9">
                            <select name="tags[]" id="tags" multiple="multiple" class="form-control">
                                {% if project.tags %}
                                    {% for tag in project.tags %}
                                        <option value="{{ tag }}" selected="selected">{{ tag }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="default_mode" class="col-3 col-form-label">Default Mode</label>
                        <div class="col-9">
                            <input name="default_mode" id="default_mode" value="{{ project.default_mode }}" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row justify-content-end">
                        <div class="mr-3">
                            <a href="/view/store/{{ store_id }}" class="btn btn-outline-danger mr-1">Close</a>
                            <button type="button" class="btn btn-outline-success"
                                    onclick="confirmSubmission('project-edit', 'Are you sure you want to save the changes?')">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
                <p>Changes made using this form will be stored in the <code>project.json</code> file.</p>
            </div>
        </div>
    </div>
{% endblock %}
