{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Project list{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                autoWidth: false,
                pageLength: 10,
                order: [1, 'asc'],
                columns: [{width: 20}, null, {width: "10%"}, {width: "10%"}, {width: 20, orderable: false}]
            });
        });
    </script>

    <form id="project-create" class="form-inline" action="/view/store/{{ store_name }}/" method="post">
        <div class="form-group mb-4 mt-2">
            <label for="project" class="sr-only">Project</label>
            <input type="text" class="form-control" id="project" name="project" placeholder="Project name" required>
            <div class="invalid-feedback">Please provide a valid project name.</div>
        </div>
        <button type="button" class="btn btn-primary mb-4 mt-2 ml-3"
                data-toggle="tooltip" data-placement="top" title="Create new project"
                onclick="confirm_submission('project-create', 'Are you sure you want to create the project?')">
            <i class="fas fa-folder-plus"></i>
        </button>
    </form>

    <table id="table" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Project Name</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Last Update</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects -%}
            <tr>
                <td>
                    {% if project.hasProject %}
                        <span data-toggle="tooltip" data-placement="top" title="This project has a project.json file">
                            <i class="fas fa-heartbeat icon-ok"></i>
                            <span style="display: none;">Y</span> <!-- for sorting only -->
                        </span>
                    {% else %}
                        <span data-toggle="tooltip" data-placement="top" title="This project does not have a project.json file, yet!">
                            <i class="fas fa-heart-broken icon-error"></i>
                            <span style="display: none;">N</span> <!-- for sorting only -->
                        </span>
                    {% endif %}
                </td>
                <td><a href="/view/store/{{ store_name }}/project/{{ project.name }}">{{ project.name }}</a></td>
                <td>{{ project.creationDate }}</td>
                <td>{{ project.updateDate }}</td>
                <td>
                    <a href="/view/store/{{ store_name }}/project/{{ project.name }}" class="btn btn-sm btn-outline-primary">Open</a>
                </td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
{% endblock %}
