{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Project list{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                autoWidth: false,
                pageLength: 10,
                order: [1, 'asc'],
                columns: [{width: 20}, {width: "15%"}, null, null, {width: "15%"}, {width: "10%"}, {width: "10%"}, {width: 20, orderable: false}]
            });

            $('#project_name').keypress(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                }
            });

            $('#project_name').keyup(function () {
                $('#project_id').val($('#project_name').val().toLowerCase().replace(/[^0-9a-z]/gi, '').trim());
            });

            $('#project_id').keypress(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                }
            });
        });
    </script>

    <form id="project-create" action="/view/store/{{ store_id }}" method="post">
        <div class="form-row mt-2">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="project_name" class="sr-only">Project</label>
                    <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Name of new project" required>
                    <div class="invalid-feedback">Please provide a valid project name.</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="project_id" class="sr-only">Project</label>
                    <input type="text" class="form-control" id="project_id" name="project_id" placeholder="Project ID" required readonly disabled>
                    <div class="invalid-feedback">Please provide a valid project id.</div>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary"
                        data-toggle="tooltip" data-placement="top" title="Create new project"
                        onclick="confirmSubmission('project-create', 'Are you sure you want to create the project?')">
                    <i class="fas fa-folder-plus"></i>
                </button>
            </div>
            <div class="col-md-7"></div>
        </div>
    </form>

    <table id="table" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Authors</th>
            <th scope="col">Tags</th>
            <th scope="col">Created</th>
            <th scope="col">Last Updated</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects -%}
            <tr>
                <td>
                    {% if project.hasProject %}
                        <span data-toggle="tooltip" data-placement="top" title="This project has a project.json file">
                            <i class="fas fa-heartbeat icon-ok"></i>
                            <span style="display: none;">Y</span> <!-- for sorting only -->
                        </span>
                    {% else %}
                        <span data-toggle="tooltip" data-placement="top" title="This project does not have a project.json file, yet!">
                            <i class="fas fa-heart-broken icon-error"></i>
                            <span style="display: none;">N</span> <!-- for sorting only -->
                        </span>
                    {% endif %}
                </td>
                <td><a href="/view/store/{{ store_id }}/project/{{ project.id }}">{{ project.name }}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.authors }}</td>
                <td>
                    {% if project.tags %}
                        {% for tag in project.tags %}
                            <span class="badge badge-info">{{ tag }}</span>&nbsp;&nbsp;
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ project.creationDate }}</td>
                <td>{{ project.updateDate }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Toolbox">
                        <a href="/view/store/{{ store_id }}/project/{{ project.id }}" class="btn btn-outline-primary"
                           data-toggle="tooltip" data-placement="top" title="List assets in project">
                            <i class="fas fa-folder-open"></i>
                        </a>
                        <a href="/view/store/{{ store_id }}/project/{{ project.id }}/edit" class="btn btn-outline-primary"
                           data-toggle="tooltip" data-placement="top" title="Edit project">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="/view/store/{{ store_id }}/project/{{ project.id }}/object/project" class="btn btn-outline-primary"
                           data-toggle="tooltip" data-placement="top" title="Edit project file">
                            <i class="fas fa-file-powerpoint"></i>
                        </a>

                    </div>
                </td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
{% endblock %}
