{% extends "base/base.html" %}
{% block title %}OVE Asset Manager - Worker list{% endblock %}

{% set active_page = "workers" %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                autoWidth: false,
                pageLength: 10,
                order: [0, 'asc'],
                columns: [
                    {width: "10%"}, {width: "15%"}, {width: "35%"}, {width: "20%"},
                    {width: "5%", orderable: false}, {width: "15%", orderable: false}
                ],
                columnDefs: [{targets: 4, className: "align-text-centre"}]
            });
        });
    </script>

    <table id="table" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Extensions</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for worker in workers -%}
            <tr>
                <td><span data-toggle="tooltip" data-placement="top" title="{{ worker.callback }}">{{ worker.name }}</span></td>
                <td>{{ worker.type }}</td>
                <td>{{ worker.description }}</td>
                <td>
                    {% if worker.extensions %}
                        {% for extension in worker.extensions %}
                            <span class="badge badge-info">{{ extension }}</span>&nbsp;&nbsp;
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if worker.status == "ready" %}
                        <span data-toggle="tooltip" data-placement="top" title="Ready">
                            <i class="fas fa-check-circle icon-success"></i>
                        </span>
                    {% elif worker.status == "processing" %}
                        <span data-toggle="tooltip" data-placement="top" title="Worker is processing">
                            <i class="fas fa-spinner fa-spin icon-ok"></i>
                        </span>
                    {% elif worker.status == "error" %}
                        <span data-toggle="tooltip" data-placement="top" title="Error. Check worker logs for details!">
                            <i class="fas fa-exclamation-circle icon-error"></i>
                        </span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Toolbar" style="float: right;">
                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Reset error state"
                                onclick="document.getElementById('refresh-{{ worker.name }}').submit();">
                            <i class="fas fa-sync"></i>
                        </button>
                        <form id="refresh-{{ worker.name }}" action="" method="post">
                            <input type="hidden" name="action" value="reset">
                            <input type="hidden" name="name" value="{{ worker.name }}">
                        </form>
                        <form id="delete-{{ worker.name }}" action="" method="post">
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="name" value="{{ worker.name }}">
                        </form>
                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Unregister worker"
                                onclick="confirm_submission('delete-{{ worker.name }}', 'Are you sure you want to remove {{ worker.name }}?')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <a class="btn btn-outline-primary" href="/docs/{{ worker.docs }}"><i class="fas fa-book"></i></a>
                    </div>
                </td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
{% endblock %}
