html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer-size {
    flex-shrink: 0;
}

.footer-color {
    background-color: #f5f5f5;
}

.toast-success {
    background-color: #d4edda;
}

.toast-success > .toast-header {
    background-color: #c3e6cb;
}

.toast-info {
    background-color: #d1ecf1;
}

.toast-info > .toast-header {
    background-color: #bee5eb;
}

.toast-error {
    background-color: #f8d7da;
}

.toast-error > .toast-header {
    background-color: #f5c6cb;
}

.toast-warning {
    background-color: #fff3cd;;
}

.toast-warning > .toast-header {
    background-color: #ffeeba;
}

.icon-error {
    color: #dc3545;
}

.icon-success {
    color: #28a745;
}

.icon-ok {
    color: #007bff;
}

.icon-disabled {
    color: #6c757d;
}

.icon-warning {
    color: #ffc107;
}

.align-text-right {
    text-align: right;
}

.align-text-centre {
    text-align: center;
}

.file-upload-container {
    margin-top: 30px;
    max-height: 400px;
    height: 120px;
    overflow-y: scroll;
}

.filepond--action-revert-item-processing{
    visibility: hidden;
}