.footer-color {
    background-color: #f5f5f5;
}

.toast-success {
    background-color: #d4edda;
}

.toast-success > .toast-header {
    background-color: #c3e6cb;
}

.toast-info {
    background-color: #d1ecf1;
}

.toast-info > .toast-header {
    background-color: #bee5eb;
}

.toast-error {
    background-color: #f8d7da;
}

.toast-error > .toast-header {
    background-color: #f5c6cb;
}

.toast-warning {
    background-color: #fff3cd;;
}

.toast-warning > .toast-header {
    background-color: #ffeeba;
}